<!-- Footer Section -->
<footer class="bg-dark-blue text-light rounded-t-theme lg:rounded-t-theme-lg py-20 lg:py-[6.6vw] 3xl:py-32 -mt-4 relative z-20">
  <div class="container">
    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-[112fr_88fr] gap-10 md:gap-[5.6vw] 3xl:gap-[109px]">
      <div class="flex flex-col">
        <a class="mb-6" href="/">
          <img class="w-[232px] lg:w-[20.9vw] 3xl:w-[403px]" width="403" height="57" src="../../assets/images/svg/logo.svg" alt="logo" />
        </a>
        <p class="mb-10 md:mb-14">Energy Bay acknowledges the Traditional Custodians of Country throughout Australia and their connections to land, waters and community. We pay respect to their Elders past and present and extend that respect to all Aboriginal and Torres Strait Islander peoples.</p>
        <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-2 xl:grid-cols-3 gap-10 lg:gap-0 lg:mb-24">
          <ul class="flex flex-col gap-4 font-bold">
            <li><a href="#">Our Projects</a></li>
            <li><a href="#">Sustainability</a></li>
            <li><a href="#">Insights</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
          <div class="flex flex-col gap-5">
            <div class="font-bold">About Us</div>
            <ul class="flex flex-col gap-3 text-sky-blue">
              <li><a href="#">Our Mission</a></li>
              <li><a href="#">Brand Story</a></li>
              <li><a href="#">Why Energy Bay</a></li>
              <li><a href="#">Our Leadership</a></li>
              <li><a href="#">Join The Team</a></li>
            </ul>
          </div>
          <div class="flex flex-col gap-5">
            <div class="font-bold">Our Offerings</div>
            <ul class="flex flex-col gap-3 text-sky-blue">
              <li><a href="#">Embedded Networks</a></li>
              <li><a href="#">Power Purchased Agreements</a></li>
              <li><a href="#">Community Energy Networks</a></li>
            </ul>
            <ul class="flex gap-4">
              <li><a target="_blank" href="#"><img src="../../assets/images/svg/instgram-logo.svg" alt="instgram"></a></li>
              <li><a target="_blank" href="#"><img src="../../assets/images/svg/linkedin-logo.svg" alt="linkedin"></a></li>
              <li><a target="_blank" href="#"><img src="../../assets/images/svg/facebook-logo.svg" alt="facebook"></a></li>
            </ul>
          </div>
        </div>
        <div class="hidden lg:flex items-end gap-[4.6vw] 3xl:gap-[89px]">
          <p>Level 16/167 Macquarie St,<br/> Sydney NSW 2000</p>
          <p>&copy; 2025 Energy Bay</p>
        </div>
      </div>
      <div class="flex flex-col gap-10 md:gap-12 lg:gap-16">
        <form class="flex flex-col">
          <p class="mb-6 md:mb-7">Stay up to date on all Energy Bay insights by subscribing to our Newsletter.</p>
          <input required type="email" placeholder="Enter your email address" class="mb-4 px-8 py-4 rounded-full bg-white text-dark-blue placeholder:text-dark-blue/60 focus:outline-none">
          {{ Button("Submit", "#", "sky-blue") }}
        </form>
        <div class="flex gap-6 md:gap-10 xl:gap-12 2xl:gap-14 3xl:gap-16">
          <div class="flex flex-col items-center text-center gap-3 text-xs md:text-[17px]">
            <img src="../../assets/images/svg/map.svg" alt="Map Australia">
            100% Australian<br/> Owned
          </div>
          <div>
            <img width="117" height="158" src="../../assets/images/common/atlas-green.jpg" alt="atlas">
          </div>
          <div>
            <img width="117" height="158" src="../../assets/images/common/atlas-blue.jpg" alt="atlas">
          </div>
          <div>
            <img width="117" height="158" src="../../assets/images/common/atlas-red.jpg" alt="atlas">
          </div>
        </div>
        
        
        <ul class="flex flex-col md:flex-row items-center justify-between mt-auto gap-3 md:gap-4">
          <li>ABN 93 001 263 734</li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="javascript:;">Back To The Top</a></li>
        </ul>

        <div class="flex flex-col md:flex-row lg:hidden items-center md:items-end gap-3 md:gap-10 justify-between text-center md:text-start">
          <p>Level 16/167 Macquarie St,<br/> Sydney NSW 2000</p>
          <p>&copy; 2025 Energy Bay</p>
        </div>

      </div>
    </div>
  </div>
</footer>